.eventTitleButton {
  background-color:#871d97;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.header{
color: #871d97;
font-size: 55px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.eventDetailsSection {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}